<!-- 该页面嵌套到layout页面中 -->
{% extends '../layout.html' %}

<!-- 以下部分页面嵌套到layout的block main和endblock之间 -->
{% block main %}

<!-- 页面标题 -->
<div class="portlet light bordered">
    <div class="caption">
        <i class="icon-social-dribbble font-green"></i>
        <span class="caption-subject font-green bold uppercase">修改密码</span>
    </div>
</div>

<!-- 密码修改Form -->
<div class="portlet light bordered" style="margin-top: -35px">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="password-form form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">原密码<span class="required"> * </span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="原密码" name="opassword" id="oldpassword" maxlength="12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">新密码<span class="required"> * </span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="新密码" name="npassword" id="npassword" maxlength="12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">确认密码<span class="required"> * </span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="确认密码" name="rpassword" maxlength="12">
                            </div>
                        </div>

                    </div>
                </form>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-9">
                            <button class="btn blue" id="password_modify">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!--本页面用到插件的JS-->
<script src="/public/assets/pages/scripts/md5.js" type="text/javascript"></script>

<!--本页面用到的JS-->
<script src="/public/assets/pages/scripts/user/password.js" type="text/javascript"></script>
{% endblock %}